{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block nav %}
	<div class="row navbar-right col-sm-4">
		<ul class="navbar-nav nav">
			<li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Blog</a></li>
			<li><a href="#">About</a></li>
            {% if user.is_authenticated %}
                {% if user.is_staff is False %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'create_job' %}">Post Job</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
			    <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
			<li><a href="#">Contact us</a></li>
		</ul>
	</div>
{% endblock %}


{% block body %}
<div class="container">
    <div class="margin-top-120">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <form action="{% url 'get_category' %}" method="post" role="form" class="form-inline">
                    {% csrf_token %}
                    <div class="input-group">
                        <select id="lunch" name="category" class="selectpicker form-control" data-live-search="true" title="Please select a category ...">
                            <option>Computer and Engineering</option>
                            <option>Finance and Accounting</option>
                            <option>Catering</option>
                            <option>Art</option>
                            <option>Music</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default my-group-button" type="submit">Go</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <br>
        {% for job in all_jobs %}
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">{{ job.title }}</div>
                <div class="panel-body" id="read">
                    <form action="{% url 'view_job' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="job_id" value="{{ job.id }}" />
                        {{ job.description|truncatechars:30 }}
                        <button type="submit" class="button btn btn-xs btn-success buttonItems">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"> Read more</span>
                        </button>
                    </form>
                    <br>
                </div>
                {% if user.is_authenticated and user.is_staff %}
                <div class="panel-footer">
                    <b class="col-md-2"><a href="{% url 'update' job.id %}">Update</a></b>
                    <b class="col-md-offset-2"><a href="{% url 'update' job.id %}">Applicants</a></b>
                    <b class="col-md-offset-2"><a href="{% url 'matched' job.id %}">Matched</a></b>
                </div>
                {% else %}
                <div class="panel-footer">
                    <b><a href="{% url 'potential' job.id %}">Apply</a></b>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% if all_jobs.has_other_pages %}
        <ul class="pagination">
            {% if all_jobs.has_previous %}
              <li><a href="?page={{ all_jobs.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in users.paginator.page_range %}
              {% if all_jobs.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if all_jobs.has_next %}
              <li><a href="?page={{ all_jobs.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
