{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Matched{% endblock %}


{% block nav %}
	<div class="row navbar-right col-sm-4">
		<ul class="navbar-nav nav">
			<li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Blog</a></li>
			<li><a href="#">About</a></li>
            <li class="active"><a href="{% url 'create_job' %}">Post Job</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="margin-top-120">
        <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Firs tname</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Nationality</th>
            <th>Salary</th>
            <th>Experience</th>
            <th>Education</th>
          </tr>
        </thead>
        <tbody>
        {% for applicant in applicants %}
          <tr>
            <td>{{ applicant.first_name }}</td>
            <td>{{ applicant.last_name }}</td>
            <td>{{ applicant.dob }}</td>
            <td>{{ applicant.nationality }}</td>
            <td>{{ applicant.salary }}</td>
            <td>{{ applicant.experience }} years</td>
            <td>{{ applicant.edu_level }}</td>
            <td>
                <form method="post" action="" role="form" id="send_form">
                    {% csrf_token %}
                    <input type="hidden" name="send_mail" id="mail" value="{{ applicant.id }}">
                    <button type="submit" class="button btn btn-xs btn-success buttonItems">
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true">Send Mail</span>
                    </button>
                </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
  <script>
    $(document).on('submit', '#send_form', function (e) {
      e.preventDefault();
      var receiver = $('#mail').val();


      $.ajax({
        type: 'POST',
        url: '{% url 'send_email' %}',
        data: {
            'mail': receiver,
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(){
            alert("Email sent successfully")
        }
      })
    });
  </script>
{% endblock %}





