{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Sign up{% endblock %}

{% block nav_brand %}

<a href="{% url 'home' %}" class="navbar-brand">
    <img class="brand" src="{% static 'img/finance101.png' %}">
</a>

{% endblock %}


 {% block nav %}
	<div class="row navbar-right col-sm-4">
		<ul class="navbar-nav nav">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li class="active"><a href="{% url 'register' %}">Register</a></li>
			<li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="#">Blog</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}

<div class="background-image">
<!--<div class="container auto_animate">-->
<div class="container">
	<div class="maximum-width col-md-offset-3 margin-top-120 col-md-6">
		<div class="page-header" id="gallery">
			<h2> Register.<small>Sign up here.</small></h2>
		</div>
		<form class="form-horizontal" method="POST" action="{% url 'register' %}" role="form" id="registration-form">
			{% csrf_token %}
			{{ form.non_field_errors }}
            {% for field in form.visible_fields %}
                <div class="form-group {% if field.errors %} has-error {% endif %}">
                    <label for="{{ field.id_for_label }}" class="control-label col-md-2">{{ field.label }}</label>
                    <div class="col-md-10">
                        {{ field }}
                    </div>
                    <!--{% if field.help_text %}-->
                        <!--<span class="help-block">{{ field.help_text|safe }}</span>-->
                    <!--{% endif %}-->
                    {% for error in field.errors %}
                        <label class="control-label">{{ error }}</label>
                    {% endfor %}
                </div>
            {% endfor %}
			<div class="col-md-offset-2">
				<button type="submit" class="btn btn-primary btn-block">Sign up</button>
			</div>
		</form>
        <div id="confirmation" class="alert alert-success hidden">
            <span class="glyphicon glyphicon-star"></span> Thank you for registering
        </div>
	</div>
</div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    $(document).ready(function(){
       var window_width = $(window).width();
        if (window_width <= 1233) {
            $('#navbar-container .navbar-right').removeClass('col-sm-4');
            $('#navbar-container .navbar-right').addClass('col-sm-7');
        }
        if (window_width <= 987){
            $('#navbar-container .navbar-right').removeClass('col-sm-7');
            $('#navbar-container .navbar-right').addClass('col-sm-8');
        }

        var validator = $("#registration-form").bootstrapValidator({
            feedbackIcons : {
                valid : "glyphicon glyphicon-ok",
                invalid : "glyphicon glyphicon-remove",
                validating : "glyphicon glyphicon-refresh",
            },
            fields : {
                email : {
                    message : "Email address is required",
                    validators : {
                        notEmpty : {
                            message : "Please provide an email address"
                        },
                        stringLength : {
                            min : 6,
                            max : 35,
                            message : "Email address must be between 6 amd 35 character",
                        },
                        emailAddress: {
                            message : "Email address was invalid"
                        }
                    }
                },
                password : {
                    validators: {
                        notEmpty : {
                            message : "Password is required"
                        },
                        stringLength : {
                            min : 8,
                            message : "Password must be 8 characters long"
                        },
                        different : {
                            field : "email",
                            message : "Email address and password can not be similar"
                        }
                    }
                },
                confirmpassword : {
                    validators : {
                        notEmpty : {
                            message : "Confirm password field is required"
                        },
                        identical : {
                            field : "password",
                            message : "Password and confirmation must match"
                        }
                    }
                }
            }
        });

        validator.on("success.form.bv", function(e){
            <!--e.preventDefault();-->
            $("#registration-form").addClass("hidden");
            $("#confirmation").removeClass("hidden");
        });
    });
</script>

{% endblock %}