local_settings.py
# Byte-compiled / optimized / DLL files
*.pyc


# Database stuff
*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# project files and directories
/insurance/local_settings.py

#pycharm ide files
.idea/

#log file
logs

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.DS_Store
*.sqlite3

# vim swap files
*.swp
*.swo

log_files/
test_report.txt
test-reports/
